

.disc1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 0; }
    
.disc2{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 0;
    }
    #r{
        text-align: center;
        margin-left:350px;
        font-weight: 900px;
        font-family: Arial, Helvetica, sans-serif;
        color:palevioletred;
    }
    #userimg{
        height: 300px;
        width: 300px;}
       






        a {
            color: white;
            outline: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            z-index: 1;
          }
          a:hover {
            color: #c91b72;
            text-decoration: none;
          }
          a:focus {
            outline: 0;
          }
          
          
         
          .desktop-header-3 {
            background: #c91b72;
            padding: 20px 0;
            border-bottom: solid 1px rgba(255, 255, 255, 0.1);
          }
          .desktop-header-3 .navbar {
            padding: 0;
          }
          .desktop-header-3 .navbar-brand {
            padding-top: 0;
            padding-bottom: 0;
          }
          .desktop-header-3 .navbar-dark .navbar-nav .nav-link {
            color: #FFF;
          }
          .desktop-header-3 .nav-link {
            font-size: 16px;
            font-weight: 700;
            padding: 0;
          }
          
          .desktop-header-3 .nav-link:hover {
            color: #0c1013 !important;
          }
          .desktop-header-3 .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 0;
            border-radius: 0.25rem;
          }
          .desktop-header-3 button.navbar-toggler:focus {
            outline: 0;
            outline: 0;
          }
          .desktop-header-3 .navbar-nav li:not(:last-child) {
            padding-right: 3rem;
          }
          @media (min-width: 992px) {
            .desktop-header-3 .navbar-expand-lg .navbar-nav .nav-link {
              padding-right: 0;
              padding-left: 0;
            }
          }
          .desktop-header-3.light {
            background: #F9F9FF;
            border-bottom: solid 1px rgba(0, 0, 0, 0.05);
          }
          .desktop-header-3.light .navbar-dark .navbar-nav .nav-link {
            color: #c91b72;
          } 
          .desktop-header-3 .navbar-nav {
            display: flex;
            flex-direction: row;
          }
          .desktop-header-3 .nav-item {
            margin-right: 2rem; /* Adjust spacing between items */
          }
#users{
            
        }